.header-titles h1 {
  margin-bottom: 15px;
}

.subtitle {
  margin-top: 10px;
}

.header-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.button-add {
  background-color: #000000;
  border-style: none;
  color: white;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

.button-add:hover {
  transform: translateY(-2%);
  background-color: #3f3d3d;
}

.button-add p {
  margin: 0px;
}

/* Contenedor relativo para posicionar el icono */
.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px; /* Tamaño del buscador */
  margin-bottom: 1.5rem;
}

/* El Icono de Bootstrap */
.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #a1a1aa; /* Gris Zinc 400 */
  font-size: 0.9rem;
  pointer-events: none; /* Evita que el icono bloquee el clic en el input */
}

/* El Input Estilo Noir */
.noir-input {
  width: 100%;
  padding: 10px 12px 10px 38px; /* Padding extra a la izquierda para el icono */
  font-size: 0.875rem;
  font-family: 'Inter', system-ui, sans-serif;
  color: #18181b;
  background-color: #ffffff;
  border: 1px solid #e4e4e7; /* Borde gris suave */
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/* Estado Focus: Borde negro y sombra sutil */
.noir-input:focus {
  border-color: #18181b;
  box-shadow: 0 0 0 3px rgba(24, 24, 27, 0.05);
}

/* Estilo del Placeholder */
.noir-input::placeholder {
  color: #a1a1aa;
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.text-primary {
  color: #2c3e50;
}

.text-secondary {
  color: #7f8c8d;
}

/* Alineación del buscador */
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-2{
  gap: 15px;
}

/* Espaciado para PrimeNG */
::ng-deep .p-datatable-header {
  background: transparent;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.button-action {
  background-color: white;
  border-style: none;
  font-size: 20px;
  transition: 0.3s all ease;
}

.edit {
  color: #233cc9;
}

.delete {
  color: #bd2121;
}

.button-action:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

::ng-deep .p-datatable-header {
  display: flex;
  justify-content: space-between;
}

.noir-select-filter {
  width: 15rem;
}