<p-dialog header="Registrar Movimiento" [(visible)]="visible" [modal]="true"
    [style]="{ width: '30rem', maxWidth: '90vw' }" [draggable]="false" (onHide)="visible.set(false)">

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">

        <!-- Tipo Movimiento -->
        <div class="type-selector">
            <p-selectButton [options]="tiposMovimiento" formControlName="tipo" optionLabel="label" optionValue="value"
                styleClass="w-full">
            </p-selectButton>
        </div>

        <!-- Monto -->
        <div class="field">
            <label class="label-noir">Monto</label>

            <div class="amount-wrapper" [ngClass]="form.value.tipo === 'INGRESO' ? 'is-income' : 'is-expense'">

                <i class="bi" [ngClass]="form.value.tipo === 'INGRESO'
                        ? 'bi-plus-lg'
                        : 'bi-dash-lg'">
                </i>

                <p-inputNumber formControlName="monto" mode="currency" currency="PEN" locale="es-PE" placeholder="0.00"
                    styleClass="transparent-input-number">
                </p-inputNumber>

            </div>

            @if (form.get('monto')?.invalid && form.get('monto')?.touched) {
            <small class="error-text">
                El monto es obligatorio.
            </small>
            }

        </div>

        <!-- Descripción -->
        <div class="field">
            <label class="label-noir">Descripción / Motivo</label>

            <textarea pInputTextarea formControlName="descripcion" rows="3" class="noir-input"
                placeholder="Ej: Compra de artículos de limpieza...">
            </textarea>

            @if (form.get('descripcion')?.invalid && form.get('descripcion')?.touched) {
            <small class="error-text">
                Debe ingresar una descripción.
            </small>
            }

        </div>

        <!-- Footer -->
        <div class="footer-actions">

            <button type="button" class="btn-cancel" (click)="visible.set(false)">
                Cancelar
            </button>

            <button type="submit" class="btn-save" [disabled]="form.invalid || loading()">

                {{ loading() ? 'Guardando...' : 'Registrar Movimiento' }}

            </button>

        </div>

    </form>

</p-dialog>